.InvoiceEditor {
  min-height: 1050px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.dropimage {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1e-5;
  /* pointer-events: none; */
}

h3 {
  display: inline;
}

.dropimage:hover {
  cursor: pointer;
}
